
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Millionz - Add Coin</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />
</head>
<body>

	<header>
		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">


		<th:block th:object="${getChyron}">
			<marquee class="chyron" onmouseover="this.stop();"
				onmouseout="this.start();">
				<text th:each="item : ${getChyron}"
					th:text="${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '"
					th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'">
			</marquee>
		</th:block>
	</header>



	<h2>Welcome to Portolio!</h2>

	<h3>Add a crypto coin to database:</h3>

	<script>
		function customReset() {
			document.getElementById("exchange").value = "BITTREX";
			document.getElementById("name").value = "";
			document.getElementById("symbol").value = "";
			document.getElementById("volume").value = "";
			document.getElementById("purchasePrice").value = "";
			document.getElementById("targetSellingPrice").value = "";
			document.getElementById("purchaseDate").value = "";
		}
	</script>


	<form action="" method="post" th:object="${asset}"
		th:href="check_portfolio.html">
		<select name="wallet" th:field="*{wallet}"
			th:onchange="this.form.submit();">
		 	<option value="">Please Select Wallet</option>
			<option value="BINANCE">Binance Wallet</option>
			<option value="BITTREX">Bittrex Wallet</option>
		<option value="PERSONAL">Personal Wallet</option>

		</select>
	<p>
			<select id="coin" name="coin" th:field="*{coin}">
				<option value="">Select Coin:</option>
				<option th:each="String : ${findAllCoins}"
					th:value="${String.symbol}" th:utext="${String.symbol}"
					th:onchange="this.form.submit();" />
			</select>
	
		<p>Volume:
		<p>
			<input type="number" placeholder="10.00" step="0.00000000000001"
				th:field="*{volume}" required />
		</p>

		<p>Purchase price in US$:
		<p>
			<input type="number" placeholder="10.00" step="0.01"
				th:field="*{purchasePrice}" required />
		</p>
		<p>Enter purchase date:
		<p>
			<input type="date" th:field="*{purchaseDate}" required /> <input
				type="submit" value="Submit" th:action="check_portfolio.html" /> <input
				type="button" name="reset" value="Reset" id="reset123"
				onclick="customReset();" />
	</form>

	<p>Return home:
	<p>
		<a href="/"> <img src="home-icon.jpg" class="left"></a>
	</p>

	<footer> Skarabudzeno by Risac. </footer>
</body>
</html>
