
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> charset="ISO-8859-1">
<title>Millionz - Alerts</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />
</head>
<body>
	<header>
		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">


		<th:block th:object="${getChyron}">
			<marquee class="chyron" onmouseover="this.stop();"
				onmouseout="this.start();">
				<text th:each="item : ${getChyron}"
					th:text="${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '"
					th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'">
			</marquee>
		</th:block>
	</header>

	<h2>Enter Alert</h2>

	<form action="" method="post" th:object="${alert}"
		th:href="alerts.html">
		<select name="exchange" th:field="*{exchange}"
			th:onchange="this.form.submit();" required="required">
			<option value="">Please Select Exchange</option>
			<option value="BINANCE">Binance</option>
			<option value="BITTREX">Bittrex</option>


		</select>
		<p>
			<select id="coin" name="coin" th:field="*{symbol}" required="required">
				<option value="">Select Coin:</option>
				<option th:each="coin : ${findAllSymbolsUnique}"
					th:value="${coin.getSymbol}" th:utext="${coin.getSymbol}"
					th:onchange="this.form.submit();" />
			</select>
		<p>
			<input type="number" placeholder="Target price"
				step="0.00000000000001" th:field="*{price}" required />
		</p>
		<div class="option more than">
			<input type="radio" id="More Than" name="More Than"
				th:field="*{moreThan}" th:value="true" class="custom-control-input">
			<label class="custom-control-label" for="option3">More than</label>
		</div>

		<div class="option less than">
			<input type="radio" id="Less Than" name="Less Than"
				th:field="*{moreThan}" th:value="false" class="custom-control-input">
			<label class="custom-control-label" for="option3">Less than</label>

		</div>
		<p>
			<input type="submit" value="Submit" />
	</form>


	<button onClick="window.location.reload();"
		class="button button_refresh">
		<span>Refresh Table</span>
	</button>
	<p>
	<table>
		<tr>
			<th>Exchange</th>
			<th>Symbol</th>
			<th>Condition</th>
			<th>Target Price</th>

		</tr>

		<tr th:each="alert : ${findAll}">

			<td th:text="${alert.getExchange.getName}"></td>
			<td th:text="${alert.getCoin.getSymbol}"></td>
			<td
				th:text="${alert.MoreThan} ? 'Notify if more than' : 'Notify if less than'"></td>
			<td th:text="${alert.getPrice}"></td>

			<td>
				<form action="" th:object="${alertEntity}" method="get">
					<button type="submit" name="command" id="command"
						class="button button_red" value="deleteMe">Delete</button>
					<input type="hidden" id="Id" name="Id" th:value="${alert.getId}">
				</form>
		</tr>
	</table>

	<p>
		<a href="/"> <img src="home-icon.jpg" class="left"></a>
	</p>
	<footer> Skarabudzeno by Risac. </footer>
</body>
</html>
