
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Millionz - Calculator</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png"/>
</head>
<body>
	<header>
		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">

<th:block th:object="${getChyron}" >
<marquee class="chyron" onmouseover="this.stop();" onmouseout="this.start();">  <text th:each="item : ${getChyron}" th:text= "${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '" th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'" > </marquee>
 </th:block>
	</header>

	<h2>Welcome to Calculator!</h2>

	<form action="#" th:action="@{/calculator}" method="post"
		th:object="${coinDTO}">
		
		
<!-- PLAY WITH THIS LATER -->
		<p>
			<select name="exchangeName" th:field="*{exchangeName}"
				th:onchange="this.form.submit();">
				<option value="">Please Select Exchange</option>
				<option value="BINANCE">Binance</option>
				<option value="BITTREX">Bittrex</option>

			</select>
			
			<!-- THIS UP, add list of exchanges -->
		<p>
			<select id="symbol" name="symbol" th:field="*{symbol}"
			th:onchange="this.form.submit();">
				<option value="">Select Coin:</option>
				<option th:each="Coin : ${findAllCoins}"
					th:value="${Coin.getSymbol}"
					th:utext="${Coin.getSymbol}"
					th:onchange="this.form.submit();" />
			</select>
		<p>
			<select id="tradeablePair" name="tradeablePair"
				th:field="*{tradeablePair}"
				>
				<option value="">Select Pair:</option>
				<option th:each="Coin : ${findAllCurrencies}"
					th:value="${Coin.getSymbol}"
					th:utext="${Coin.getSymbol}"
					
					/>
			</select>
		<p>
			Volume: <input type="number" value="1" step="0.00000000000001"
				th:field="*{volume}" required /> <input type="submit"
				value="Submit" />
		</p>
	</form>


	<p th:text="${coinDTO.result}" />


	<p>Return home:
	<p>
		<a href="/"> <img src="home-icon.jpg" class="left"></a>
	</p>
	<footer> Skarabudzeno by Risac. </footer>
</body>
</html>
