
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Millionz - Edit Coin</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />
</head>
<body>

	<header>
		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">
	

<th:block th:object="${getChyron}" >
<marquee class="chyron" onmouseover="this.stop();" onmouseout="this.start();">  <text th:each="item : ${getChyron}" th:text= "${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '" th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'" > </marquee>
 </th:block>
	</header>



	<h2>Welcome to Portolio!</h2>

	<h3>Edit coin in database:</h3>
	
		<p th:text= "'ID: ' + ${oldCoin.getId}" />
<script>
		function customReset() {
			document.getElementById("exchange").value = "BITTREX";
			document.getElementById("name").value = "";
			document.getElementById("symbol").value = "";
			document.getElementById("volume").value = "";
			document.getElementById("purchasePrice").value = "";
			document.getElementById("targetSellingPrice").value = "";
			document.getElementById("purchaseDate").value = "";
		}
	</script>


  
<p><b>EXCHANGE:</b>
<p th:text="'Saved: ' + ${oldCoin.getExchange}" />
	<form action="#" method="post" th:object="${coin}"
		th:href="check_portfolio.html">
		<select name="wallet"  th:field="*{wallet}"
			th:onchange="this.form.submit();" required>
			<option value="">Please Select Exchange</option> 
			<option value="BINANCE">Binance</option>
			<option value="BITTREX">Bittrex</option>
			<option value="PERSONAL WALLET">Personal Wallet</option>

		</select> 
		
		<p><b>COIN:</b>
		<p th:text="'Saved: ' + ${oldCoin.getSymbol}" />
	
			<select id="coin" name="coin" th:field="*{coin}" required> 
				<option value="">Select coin:</option>
				<option th:each="String : ${findAll}"
					th:value="${String.getSymbol}" th:utext="${String.getSymbol}"
					th:onchange="this.form.submit();" />
			</select> 
			
				
		<p><b>VOLUME:</b>
		<p> <p th:text="'Saved: ' + ${oldCoin.getVolume}" />
			<input type="number"  name="volume" id="volume" step="0.00000000000001"
				 required />
	

		<p><b>PURCHASE PRICE IN US$:</b>
		<p> <p th:text="'Saved: ' + ${oldCoin.getPurchasePrice}" />
			<input type="number" th:object="${coin}" th:value="${oldCoin.getPurchasePrice}" name="purchasePrice" id="purchasePrice" step="0.01"
				  required />
	
		<p><b>PURCHASE DATE:</b>
	<!-- 	<p> <p th:text="'Saved: ' + ${oldCoin.getPurchaseDate}" /> -->
			<input type="date" th:field="*{purchaseDate}" required/> 
			
			<input
				type="submit" value="Submit" th:action="check_portfolio.html" /> <input
				type="button" name="reset" value="Reset" id="reset123"
				onclick="customReset();" />
	</form>
	
	<p>Return home:
	<p>
		<a href="/"> <img src="home-icon.jpg" class="left"></a>
	</p>

	<footer> Skarabudzeno by Risac. </footer>
</body>
</html>
