<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Millionz Welcome Page</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />

</head>
<body>
	<header>
		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">

		<th:block th:object="${getChyron}">
			<marquee class="chyron" onmouseover="this.stop();"
				onmouseout="this.start();">
				<text th:each="item : ${getChyron}"
					th:text="${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '"
					th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'">
			</marquee>
		</th:block>

	</header>
	<h2>Welcome to Millionz</h2>
	<p>Please choose a category:
	<p>
		<a href="/calculator"> <img src="calculator-icon.jpg" class="left"></a>
		<a href="/alerts"> <img src="alerts-icon.jpg" class="left"></a>
	<p>
		<a href="/portfolio"> <img src="portfolio.jpg" class="left"></a>
	<p>Application settings and maintenance:
	<p>
		<a href="/settings"> <img src="icon-settings.jpg" class="left"></a>
	<footer> Skarabudzeno by Risac. </footer>

</body>
</html>