<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />
</head>
<body>
	<header>



		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">
		<th:block th:object="${getChyron}">

			<th:block th:object="${getChyron}">
				<marquee class="chyron" onmouseover="this.stop();"
					onmouseout="this.start();">
					<text th:each="item : ${getChyron}"
						th:text="${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '"
						th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'">
				</marquee>
			</th:block>
	</header>

	<h2>Welcome to Portfolio!</h2>


	<button onClick="window.location.reload();"
		class="button button_refresh">
		<span>Refresh Table</span>
	</button>
	<p>
	<table>
		<tr>

			<th>Exchange
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="ExchangeAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="ExchangeDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Coin</th>
			<th>Symbol
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="SymbolAsc"
						style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="SymbolDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>


			<th>Quantity
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="QuantityAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="QuantityDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Purchase date
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="DateAsc"
						style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="DateDesc"
						style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Purchase price
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="PriceAsc"
						style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="PriceDesc"
						style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Cost
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="CostAsc"
						style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="CostDesc"
						style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Value
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="ValueAsc"
						style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="ValueDesc"
						style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Target sale price</th>
			<th>Total</th>
			<th>Profit</th>
		</tr>

		<tr th:each="asset : ${findAll}">


			<td th:text="${asset.getWallet().getName()}"></td>
			<td th:text="${asset.getCoin().getName}"></td>
			<td th:text="${asset.getCoin().getSymbol}"></td>
			<td th:text="${asset.getVolume}"></td>
			<td th:text="${asset.getPurchaseDateString}"></td>
			<td th:text="'$ ' + ${asset.getPurchasePrice}"></td>
			<td th:text="'$ ' + ${asset.getCost}"></td>
			<td
				th:style="${asset.getCost} > ${asset.getValue} ? 'color: red;' : 'color: green;'"
				th:text="'$ ' + ${asset.getValue}"></td>

			<td>
				<form action="" th:object="${portfolioDTO}" method="get">
					<input type="number" step="0.01" th:field="*{selling}"></input> <input
						type="hidden" id="Id" name="Id" th:value="${asset.getId}">

				</form>
			</td>
 			<td th:text="${potentialGain.get(assetStat.index)}"></td>
			<td
				th:style="${potentialProfit.get(assetStat.index)} < 0 ? 'color: red;' : 'color: green;'"
				th:text="${potentialProfit.get(assetStat.index)}"></td>

			<td>
				<form action="" th:object="${asset}" method="get">

					<button type="submit" name="command" id="command" value="editMe"
						class="button">Edit</button>
					<input type="hidden" id="Id" name="Id" th:value="${asset.getId}">
				</form>
			</td>
			<td>
				<form action="" th:object="${portfolioDTO}" method="get">

					<button type="submit" name="command" id="command"
						class="button button_red" value="deleteMe"
						>Delete</button>
					<input type="hidden" id="Id" name="Id" th:value="${asset.getId}">
				</form>
		</tr>


	</table>

	<p th:text="${sumCost}" align="right" />
	<p th:text="${sumValue}" align="right" />

	<p>Enter new coin:
	<p>
		<a href="/add_coin"> <img src="add_coin.jpg" class="left"></a>
	<p>Return home:
	<p>
		<a href="/"><img src="home-icon.jpg" class="left"></a>
	<footer> Skarabudzeno by Risac. </footer>
</body>
</html>