<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Millionz - TEST Portfolio</title>
<link rel="stylesheet" href="styles.css">
<link rel="icon" type="image/png" href="/minilogo.png" />
</head>
<body>
	<header>



		<img src="millionz-logo.jpg" title="Truly awesome logo" class="center">
		<th:block th:object="${getChyron}">

			<th:block th:object="${getChyron}">
				<marquee class="chyron" onmouseover="this.stop();"
					onmouseout="this.start();">
					<text th:each="item : ${getChyron}"
						th:text="${item.getMarketName} + ':&nbsp;'
+ ${item.getLastString} + '&nbsp;USDT 24h:&nbsp;'+ ${item.getPrevDay} + '% --- '"
						th:style="${item.getPrevDay} < 0  ? 'color: red;' : 'color: green;'">
				</marquee>
			</th:block>
	</header>

	<h2>Welcome to TESTING!</h2>


	<button onClick="window.location.reload();">Refresh Table</button>
	<p>
	<table>
		<tr>

			<th>Exchange
				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="ExchangeAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="ExchangeDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form>
			</th>
			<th>Coin</th>
			<th>Symbol
			<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="SymbolAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="SymbolDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form>
			
			</th>


			<th>Quantity <form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="QuantityAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="QuantityDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form></th>
			<th>Purchase date <form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="DateAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="DateDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form></th>
			<th>Purchase price <form action="" th:object="${portfolioDTO}"
					method="get">
					<button type="submit" id="command" name="command" value="PriceAsc"
						style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command" value="PriceDesc"
						style="border: none;">
						<img src="down.png">
					</button>
				</form></th>
			<th>Cost <form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="CostAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="CostDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form></th>
			<th>Value <form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="ValueAsc" style="border: none;">
						<img src="up.png">
					</button>
				</form>

				<form action="" th:object="${portfolioDTO}" method="get">
					<button type="submit" id="command" name="command"
						value="ValueDesc" style="border: none;">
						<img src="down.png">
					</button>
				</form></th>
			<th>Target sale price</th>
			<th>Total</th>
			<th>Profit</th>
		</tr>

		<tr th:each="coin : ${findAll}">


			<td th:text="${coin.getExchange().getName()}"></td>
			<td th:text="${coin.getCoin().getName}"></td>
			<td th:text="${coin.getCoin().getSymbol}"></td>
			<td th:text="${coin.getVolume}"></td>
			<td th:text="${coin.getPurchaseDateString}"></td>
			<td th:text="'$ ' + ${coin.getPurchasePrice}"></td>
			<td th:text="'$ ' + ${coin.getCost}"></td>
			<td
				th:style="${coin.getCost} > ${coin.getValue} ? 'color: red;' : 'color: green;'"
				th:text="'$ ' + ${coin.getValue}"></td>

			<td>
				<form action="" th:object="${portfolioDTO}" method="get">
					<input type="number" step="0.01" th:field="*{selling}"></input> <input
						type="hidden" id="Id" name="Id" th:value="${coin.getId}">

				</form>
			</td>
			<td th:text="${potentialGain.get(coinStat.index)}"></td>
			<td
				th:style="${potentialProfit.get(coinStat.index)} < 0 ? 'color: red;' : 'color: green;'"
				th:text="${potentialProfit.get(coinStat.index)}"></td>

			<td>
				<form action="#" th:object="${portfolioDTO}" method="get">

					<button type="submit" name="editable" id="editable" value="true"
						onclick="${editable = true}">Edit</button>
					<input type="hidden" id="Id" name="Id" th:value="${coin.getId}">
				</form>
			</td>
			<td>
				<form action="#" th:object="${portfolioDTO}" method="get">

					<button type="submit" name="deleteable" id="deleteable"
						value="true" onclick="${deleteable = true}">Delete</button>
					<input type="hidden" id="Id" name="Id" th:value="${coin.getId}">
				</form>
		</tr>


	</table>

	<p th:text="${sumCost}" align="right" />
	<p th:text="${sumValue}" align="right" />

	<p>Enter new coin:
	<p>
	<form action="" th:object="${portfolioDTO}" method="get">
		<button type="submit" id="command" name="command" value="STRING"
			style="border: none;">
			<img src="icon-settings.jpg">
		</button>
	</form>

	<p>
		Return home: <p>
		<a href="/"><img src="home-icon.jpg" class="left"></a> <footer> Skarabudzeno by Risac. </footer>
</body>
</html>