

footer {
  background-color: Green;
  color: white;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

marquee {
background-color: #dddddd;
color: Green;

onmousedown="this.stop();"
onmouseup="this.start();"

}


.button {
  backgrpound-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  border-radius: 3px;
  cursor: pointer;
}

.button_red {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button_red:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_refresh {
  width: 180px;
  padding: 8px 20px;
  border: 1px solid gray;
  color: #000;
  text-align: center;
  font-size: 18px;
  position: relative;
  transition: all 0.5s;
}

.button_refresh:hover {
  background-color: #94ee8a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_refresh span {
  position: relative;
  transition: 0.5s;
}

.button_refresh span:after {
  content: ' \00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.button_refresh:hover span {
  padding-right: 15px;
    
}

.button_refresh:hover span:after {
  opacity: 1;
  right: 0;
    
}
